<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMmAQkZzBJ3rXWzqtmEYAaKgh73CMG9jE</string>
	<key>GCM_SENDER_ID</key>
	<string>97522202514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tariften.app</string>
	<key>PROJECT_ID</key>
	<string>tariftencom</string>
	<key>STORAGE_BUCKET</key>
	<string>tariftencom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97522202514:ios:c51d32d92410708b50f34b</string>
</dict>
</plist>